.img-fluid {
max-width: 100%;
height: auto;
object-position: center;
}

.choose {
    width: 100%;
}

.zurag  {
    width: 50%;
    float: left;
}

.main {
    width: 50%;
    float: left;
}

.tseej-zurag {
    max-width: 100%;
}