.choose {
    width: 100%;
}

.img-fluid1 {
max-width: 100%;
float: left;
}

.zurag  {
    width: 50%;
}

.main1 {
    width: 50%;
    float: left;
}

.hobby {
    width: 100%;
}

.pic {
    width: 50%;
}

.img-fluid2 {
    max-width: 100%;
    float: left;
}

.main2 {
    width: 50%;
    float: left;
}

.tseej-zurag {
    max-width: 100%;
}

.text {
    width: 100%;
}

.family {
    width: 50%;
    float: left;
}

.textarea{
    width: 50%;
    float: left;
}